/* slider: https://www.w3schools.com/howto/howto_js_rangeslider.asp */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

  /* button: https://public-constructor.com/html-css-rounded-corner-button/ */

  .rounded-corner {
    background-color: #0a458a;
    width: 100px;
    height: 20px;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 0;
    border-radius: 10px;
}

.btn-square-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
#  background: #668ad8;/*ボタン色*/
  background: lightgray;/*ボタン色*/
  color: #FFF;
 border-style: none;
# border-bottom: solid 4px #627295;
 border-bottom: solid 4px gray;
  border-radius: 10px;
}
.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

